@page
@using CookieSample.Pages;
@model IndexModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "Главная страница";
}
<style>
    body {
        background: white
    }

    section {
        color: black;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }
</style>

@if (HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated!)
{
    <section>
        <h1 class="display-4">Здравствуйте, @HttpContextAccessor.HttpContext.User.Claims.FirstOrDefault(c => c.Type == "FullName")?.Value!</h1>
    </section>
}
else
{
  <section>
        <h1 class="display-4">Здравствуйте!</h1>
  </section>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}