@model Space.Models.Comets

@{
    ViewData["Title"] = "Добавление кометы";
}

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<h3>Добавление кометы</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StarId" class="control-label"></label>
                <select asp-for="StarId" class ="form-control" asp-items="ViewBag.StarId">
                    <option value="">Выберите звезду</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CometName" class="control-label"></label>
                <input asp-for="CometName" class="form-control" />
                <span asp-validation-for="CometName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CometOrbitalPeriod" class="control-label"></label>
                <input asp-for="CometOrbitalPeriod" class="form-control" />
                <span asp-validation-for="CometOrbitalPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CometSemiMajorAxis" class="control-label"></label>
                <input asp-for="CometSemiMajorAxis" class="form-control" />
                <span asp-validation-for="CometSemiMajorAxis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CometPerihelion" class="control-label"></label>
                <input asp-for="CometPerihelion" class="form-control" />
                <span asp-validation-for="CometPerihelion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CometEccentricity" class="control-label"></label>
                <input asp-for="CometEccentricity" class="form-control" />
                <span asp-validation-for="CometEccentricity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CometOrbitalInclination" class="control-label"></label>
                <input asp-for="CometOrbitalInclination" class="form-control" />
                <span asp-validation-for="CometOrbitalInclination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="formFile" class="form-label">Выберите изображение</label>
                <input class="form-control" type="file" name="formFile">
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
