@model Space.Models.Comets

@{
    ViewData["Title"] = "Добавление кометы";
}

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<p class="text-center fs-2">Добавление кометы</p>
<hr />
<form class="row g-3" method="post" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <label asp-for="StarId" class="control-label"></label>
        <select asp-for="StarId" class="form-control" asp-items="ViewBag.StarId">
            <option value="">Выберите звезду</option>
        </select>
    </div>
    <div class="col-md-3">
        <label asp-for="CometOrbitalPeriod" class="control-label"></label>
        <input asp-for="CometOrbitalPeriod" class="form-control" />
        <span asp-validation-for="CometOrbitalPeriod" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="CometSemiMajorAxis" class="control-label"></label>
        <input asp-for="CometSemiMajorAxis" class="form-control" />
        <span asp-validation-for="CometSemiMajorAxis" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="CometName" class="control-label"></label>
        <input asp-for="CometName" class="form-control" />
        <span asp-validation-for="CometName" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="CometPerihelion" class="control-label"></label>
        <input asp-for="CometPerihelion" class="form-control" />
        <span asp-validation-for="CometPerihelion" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="CometEccentricity" class="control-label"></label>
        <input asp-for="CometEccentricity" class="form-control" />
        <span asp-validation-for="CometEccentricity" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="formFile" class="form-label"></label>
        <input class="form-control" type="file" name="formFile">
    </div>
    <div class="col-md-6">
        <label asp-for="CometOrbitalInclination" class="control-label"></label>
        <input asp-for="CometOrbitalInclination" class="form-control" />
        <span asp-validation-for="CometOrbitalInclination" class="text-danger"></span>
    </div>
    <div class="col-12 d-flex justify-content-center gap-2">
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
