@model Space.Models.Comets

@{
    ViewData["Title"] = "Изменение кометы";
}

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<p class="text-center fs-2 font-monospace">Изменение кометы</p>
<hr />

<div class="container clearfix">
    <partial name="_CometImage" />
    <form class="row g-3 justify-content-start" method="post" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CometId" />
        <div class="col-md-6">
            <label asp-for="StarId" class="control-label"></label>
            <select asp-for="StarId" class="form-control" asp-items="ViewBag.StarId">
                <option value="">Выберите звезду</option>
            </select>
        </div>
        <div class="col-md-3">
            <label asp-for="CometOrbitalPeriod" class="control-label"></label>
            <input asp-for="CometOrbitalPeriod" class="form-control" />
            <span asp-validation-for="CometOrbitalPeriod" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="CometSemiMajorAxis" class="control-label"></label>
            <input asp-for="CometSemiMajorAxis" class="form-control" />
            <span asp-validation-for="CometSemiMajorAxis" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="CometName" class="control-label"></label>
            <input asp-for="CometName" class="form-control" />
            <span asp-validation-for="CometName" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="CometPerihelion" class="control-label"></label>
            <input asp-for="CometPerihelion" class="form-control" />
            <span asp-validation-for="CometPerihelion" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="CometEccentricity" class="control-label"></label>
            <input asp-for="CometEccentricity" class="form-control" />
            <span asp-validation-for="CometEccentricity" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label for="formFile" class="form-label"></label>
            <input class="form-control" type="file" name="formFile">
        </div>
        <div class="col-md-6">
            <label asp-for="CometOrbitalInclination" class="control-label"></label>
            <input asp-for="CometOrbitalInclination" class="form-control" />
            <span asp-validation-for="CometOrbitalInclination" class="text-danger"></span>
        </div>
        @if (Model.CometImage != null)
        {
            <div class="col-md-12">
                <div class="input-group-text">
                    <input asp-for="CometImage" class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        ㅤУдалить изображение?
                    </label>
                </div>
                <input asp-for="CometImage" type="text" class="form-control" aria-label="Text input with radio button" hidden>
            </div>
        }
        <div class="col-12 d-flex justify-content-center gap-2">
            <a asp-action="Index" class="btn btn-secondary">Назад</a>
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </form>

</div>
<div class="text-nowrap row justify-content-center">
    ㅤ
</div>
<hr />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
