@model Space.Models.GalaxyClusters

@{
    ViewData["Title"] = "Добавление скопления галактик";
}

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid#16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<p class="text-center fs-2">Добавление скопления галактик</p>
<hr />
<form class="row g-3" method="post" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <label asp-for="ConsId" class="control-label"></label>
        <select asp-for="ConsId" class="form-control" asp-items="ViewBag.ConsId"></select>
    </div>
    <div class="col-md-3">
        <label asp-for="GlxclusterType" class="control-label"></label>
        <input asp-for="GlxclusterType" class="form-control" />
        <span asp-validation-for="GlxclusterType" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="GlxclusterRightAscension" class="control-label"></label>
        <input asp-for="GlxclusterRightAscension" type="time" name="GlxclusterRightAscension" step="2" class="form-control" />
        <span asp-validation-for="GlxclusterRightAscension" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="GlxclusterName" class="control-label"></label>
        <input asp-for="GlxclusterName" class="form-control" />
        <span asp-validation-for="GlxclusterName" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="GlxclusterDeclination" class="control-label"></label>
        <input asp-for="GlxclusterDeclination" class="form-control" />
        <span asp-validation-for="GlxclusterDeclination" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="GlxclusterRedshift" class="control-label"></label>
        <input asp-for="GlxclusterRedshift" class="form-control" />
        <span asp-validation-for="GlxclusterRedshift" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label for="formFile" class="form-label"></label>
        <input class="form-control" type="file" name="formFile">
    </div>
    <div class="col-12 d-flex justify-content-center gap-2">
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
