@model Space.Models.GalaxyClusters

@{
    ViewData["Title"] = "Изменение скопления галактик";
}

<h3>Изменение скопления галактик</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GlxclusterId" />
            <div class="form-group">
                <partial name="_GlxclusterImage" />
            </div>
            <div class="form-group">
                <label asp-for="ConsId" class="control-label"></label>
                <select asp-for="ConsId" class="form-control" asp-items="ViewBag.ConsId"></select>
                <span asp-validation-for="ConsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlxclusterName" class="control-label"></label>
                <input asp-for="GlxclusterName" class="form-control" />
                <span asp-validation-for="GlxclusterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlxclusterType" class="control-label"></label>
                <input asp-for="GlxclusterType" class="form-control" />
                <span asp-validation-for="GlxclusterType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlxclusterRightAscension" class="control-label"></label>
                <input asp-for="GlxclusterRightAscension" class="form-control" />
                <span asp-validation-for="GlxclusterRightAscension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlxclusterDeclination" class="control-label"></label>
                <input asp-for="GlxclusterDeclination" class="form-control" />
                <span asp-validation-for="GlxclusterDeclination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlxclusterRedshift" class="control-label"></label>
                <input asp-for="GlxclusterRedshift" class="form-control" />
                <span asp-validation-for="GlxclusterRedshift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
