@model Space.Models.BlackHoles

@{
    ViewData["Title"] = "Добавление чёрной дыры";
}

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<p class="text-center fs-2">Добавление чёрной дыры</p>
<hr />
<form class="row g-3" method="post" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ConsId" class="control-label"></label>
            <select asp-for="ConsId" class="form-control" asp-items="ViewBag.ConsId">
                <option value="">Выберите созвездие</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <label asp-for="BlackholeType" class="control-label"></label>
        <input asp-for="BlackholeType" class="form-control" />
        <span asp-validation-for="BlackholeType" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="GlxId" class="control-label"></label>
        <select asp-for="GlxId" class="form-control" asp-items="ViewBag.GlxId">
            <option value="">Выберите галактику</option>
        </select>
    </div>
    <div class="col-md-6">
        <label asp-for="BlackholeRightAscension" class="control-label"></label>
        <input asp-for="BlackholeRightAscension" type="time" name="BlackholeRightAscension" step="2" class="form-control" />
        <span asp-validation-for="BlackholeRightAscension" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="BlackholeName" class="control-label"></label>
        <input asp-for="BlackholeName" class="form-control" />
        <span asp-validation-for="BlackholeName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="BlackholeDeclination" class="control-label"></label>
        <input asp-for="BlackholeDeclination" class="form-control" />
        <span asp-validation-for="BlackholeDeclination" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="formFile" class="form-label"></label>
        <input class="form-control" type="file" name="formFile">
    </div>
    <div class="col-md-6">
        <label asp-for="BlackholeDistance" class="control-label"></label>
        <input asp-for="BlackholeDistance" class="form-control" />
        <span asp-validation-for="BlackholeDistance" class="text-danger"></span>
    </div>
    <div class="col-12 d-flex justify-content-center gap-2">
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
