@model Space.Models.Stars
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;


@{
    ViewData["Title"] = "Изменение звезды";
}

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<p class="text-center fs-2 font-monospace">Изменение звезды</p>
<hr />

<div class="container clearfix">
    <partial name="_StarImage" />
    <form class="row g-3 justify-content-start" method="post" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="StarId" />
        <div class="col-md-6">
            <label asp-for="ConsId" class="control-label"></label>
            <select asp-for="ConsId" class="form-control" asp-items="ViewBag.ConsId">
                <option value="">Выберите созвездие</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="StarApparentMagnitude" class="control-label"></label>
            <input asp-for="StarApparentMagnitude" class="form-control" />
            <span asp-validation-for="StarApparentMagnitude" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GlxId" class="control-label"></label>
            <select asp-for="GlxId" class="form-control" asp-items="ViewBag.GlxId">
                <option value="">Выберите галактику</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="StarStellarClass" class="control-label"></label>
            <input asp-for="StarStellarClass" class="form-control" />
            <span asp-validation-for="StarStellarClass" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="StarclusterId" class="control-label"></label>
            <select asp-for="StarclusterId" class="form-control" asp-items="ViewBag.StarclusterId">
                <option value="">Выберите звёздное скопление</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="StarDistance" class="control-label"></label>
            <input asp-for="StarDistance" class="form-control" />
            <span asp-validation-for="StarDistance" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="PlanetsystemId" class="control-label"></label>
            <select asp-for="PlanetsystemId" class="form-control" asp-items="ViewBag.PlanetsystemId">
                <option value="">Выберите планетную систему</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="StarDeclination" class="control-label"></label>
            <input asp-for="StarDeclination" class="form-control" />
            <span asp-validation-for="StarDeclination" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="StarName" class="control-label"></label>
            <input asp-for="StarName" class="form-control" />
            <span asp-validation-for="StarName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label for="formFile" class="form-label"></label>
            <input class="form-control" type="file" name="formFile">
        </div>
        @if (Model.StarImage != null)
        {
            <div class="col-md-12">
                <div class="input-group-text">
                    <input asp-for="StarImage" class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        ㅤУдалить изображение?
                    </label>
                </div>
                <input asp-for="StarImage" type="text" class="form-control" aria-label="Text input with radio button" hidden>
            </div>
        }
        <div class="col-12 d-flex justify-content-center gap-2">
            <a asp-action="Index" class="btn btn-secondary">Назад</a>
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </form>

</div>
<div class="text-nowrap row justify-content-center">
    ㅤ
</div>
<hr />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
