@model Space.Models.Galaxies
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor;


@{
    ViewData["Title"] = "Изменение галактики";
}

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<p class="text-center fs-2 font-monospace">Изменение галактики</p>
<hr />

<div class="container clearfix">
    <partial name="_GlxImage" />
    <form class="row g-3 justify-content-start" method="post" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="GlxId" />
        <div class="col-md-6">
            <label asp-for="ConsId" class="control-label"></label>
            <select asp-for="ConsId" class="form-control" asp-items="ViewBag.ConsId">
                <option value="">Выберите созвездие</option>
            </select>
            <span asp-validation-for="ConsId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GlxType" class="control-label"></label>
            <input asp-for="GlxType" class="form-control" />
            <span asp-validation-for="GlxType" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GlxclusterId" class="control-label"></label>
            <select asp-for="GlxclusterId" class="form-control" asp-items="ViewBag.GlxclusterId">
                <option value="">Выберите скопление галактик</option>
            </select>
            <span asp-validation-for="GlxclusterId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GlxRightAscension" class="control-label"></label>
            <input asp-for="GlxRightAscension" type="time" name="GlxRightAscension" step="2" class="form-control" />
            <span asp-validation-for="GlxRightAscension" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GlxgroupId" class="control-label"></label>
            <select asp-for="GlxgroupId" class="form-control" asp-items="ViewBag.GlxgroupId">
                <option value="">Выберите группу галактик</option>
            </select>
            <span asp-validation-for="GlxgroupId" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GlxDeclination" class="control-label"></label>
            <input asp-for="GlxDeclination" class="form-control" />
            <span asp-validation-for="GlxDeclination" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GlxName" class="control-label"></label>
            <input asp-for="GlxName" class="form-control" />
            <span asp-validation-for="GlxName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GlxRedshift" class="control-label"></label>
            <input asp-for="GlxRedshift" class="form-control" />
            <span asp-validation-for="GlxRedshift" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GlxDistance" class="control-label"></label>
            <input asp-for="GlxDistance" class="form-control" />
            <span asp-validation-for="GlxDistance" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GlxApparentMagnitude" class="control-label"></label>
            <input asp-for="GlxApparentMagnitude" class="form-control" />
            <span asp-validation-for="GlxApparentMagnitude" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="GlxRadialVelocity" class="control-label"></label>
            <input asp-for="GlxRadialVelocity" class="form-control" />
            <span asp-validation-for="GlxRadialVelocity" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label for="formFile" class="form-label"></label>
            <input class="form-control" type="file" name="formFile">
        </div>
        <div class="col-12 d-flex justify-content-center gap-2">
            <a asp-action="Index" class="btn btn-secondary">Назад</a>
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </form>

</div>
<div class="text-nowrap row justify-content-center">
    ㅤ
</div>
<hr />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
