@model Space.Models.Nebulae

@{
    ViewData["Title"] = "Добавление туманности";
}

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<p class="text-center fs-2">Добавление туманности</p>
<hr />
<form class="row g-3" method="post" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <label asp-for="ConsId" class="control-label"></label>
        <select asp-for="ConsId" class="form-control" asp-items="ViewBag.ConsId"></select>
    </div>
    <div class="col-md-6">
        <label asp-for="NebulaType" class="control-label"></label>
        <input asp-for="NebulaType" class="form-control" />
        <span asp-validation-for="NebulaType" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="GlxId" class="control-label"></label>
        <select asp-for="GlxId" class="form-control" asp-items="ViewBag.GlxId">
            <option value="">Выберите галактику</option>
        </select>
    </div>
    <div class="col-md-6">
        <label asp-for="NebulaRightAscension" class="control-label"></label>
        <input asp-for="NebulaRightAscension" type="time" name="NebulaRightAscension" step="2" class="form-control" />
        <span asp-validation-for="NebulaRightAscension" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="NebulaName" class="control-label"></label>
        <input asp-for="NebulaName" class="form-control" />
        <span asp-validation-for="NebulaName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="NebulaDeclination" class="control-label"></label>
        <input asp-for="NebulaDeclination" class="form-control" />
        <span asp-validation-for="NebulaDeclination" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="formFile" class="form-label"></label>
        <input class="form-control" type="file" name="formFile">
    </div>
    <div class="col-md-6">
        <label asp-for="NebulaDistance" class="control-label"></label>
        <input asp-for="NebulaDistance" class="form-control" />
        <span asp-validation-for="NebulaDistance" class="text-danger"></span>
    </div>
    <div class="col-12 d-flex justify-content-center gap-2">
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
