@model Space.Models.Nebulae

@{
    ViewData["Title"] = "Изменение туманности";
}

<h3>Изменение туманности</h3>

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NebulaId" />
            <div class="form-group">
                <partial name="_NebulaImage" />
            </div>
            <div class="form-group">
                <label asp-for="ConsId" class="control-label"></label>
                <select asp-for="ConsId" class="form-control" asp-items="ViewBag.ConsId"></select>
                <span asp-validation-for="ConsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlxId" class="control-label"></label>
                <select asp-for="GlxId" class="form-control" asp-items="ViewBag.GlxId"></select>
                <span asp-validation-for="GlxId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NebulaName" class="control-label"></label>
                <input asp-for="NebulaName" class="form-control" />
                <span asp-validation-for="NebulaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NebulaType" class="control-label"></label>
                <input asp-for="NebulaType" class="form-control" />
                <span asp-validation-for="NebulaType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NebulaRightAscension" class="control-label"></label>
                <input asp-for="NebulaRightAscension" class="form-control" />
                <span asp-validation-for="NebulaRightAscension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NebulaDeclination" class="control-label"></label>
                <input asp-for="NebulaDeclination" class="form-control" />
                <span asp-validation-for="NebulaDeclination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NebulaDistance" class="control-label"></label>
                <input asp-for="NebulaDistance" class="form-control" />
                <span asp-validation-for="NebulaDistance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
