@model Space.Models.Asteroids

@{
    ViewData["Title"] = "Изменение астероида";
}

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<h3>Изменение астероида</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AstId" />
            <div class="form-group">
                <label asp-for="StarId" class="control-label"></label>
                <select asp-for="StarId" class="form-control" asp-items="ViewBag.StarId"></select>
                <span asp-validation-for="StarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AstName" class="control-label"></label>
                <input asp-for="AstName" class="form-control" />
                <span asp-validation-for="AstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AstDiameter" class="control-label"></label>
                <input asp-for="AstDiameter" class="form-control" />
                <span asp-validation-for="AstDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AstOrbitalEccentricity" class="control-label"></label>
                <input asp-for="AstOrbitalEccentricity" class="form-control" />
                <span asp-validation-for="AstOrbitalEccentricity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AstOrbitalInclination" class="control-label"></label>
                <input asp-for="AstOrbitalInclination" class="form-control" />
                <span asp-validation-for="AstOrbitalInclination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AstArgumentOfPerihelion" class="control-label"></label>
                <input asp-for="AstArgumentOfPerihelion" class="form-control" />
                <span asp-validation-for="AstArgumentOfPerihelion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AstMeanAnomaly" class="control-label"></label>
                <input asp-for="AstMeanAnomaly" class="form-control" />
                <span asp-validation-for="AstMeanAnomaly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $.validator.methods.range = function (value, element, param) {
        var globalizedValue = value.replace(",", ".");
        return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    }

    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }

    $.validator.methods.date = function (value, element) {
        var date = value.split("/");
        return this.optional(element) || !/Invalid|NaN/.test(new Date(date[2], date[1], date[0]).toString());
    }
</script>
}