@model Space.Models.PlanetarySystems

@{
    ViewData["Title"] = "Изменение планетной системы";
}

<h3>Изменение планетной системы</h3>

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PlanetsystemId" />
            <div class="form-group">
                <partial name="_PlanetsystemImage" />
            </div>
            <div class="form-group">
                <label asp-for="ConsId" class="control-label"></label>
                <select asp-for="ConsId" class="form-control" asp-items="ViewBag.ConsId">
                    <option value="">Выберите созвездие</option>
                </select>
                <span asp-validation-for="ConsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlxId" class="control-label"></label>
                <select asp-for="GlxId" class="form-control" asp-items="ViewBag.GlxId">
                    <option value="">Выберите галактику</option>
                </select>
                <span asp-validation-for="GlxId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanetsystemName" class="control-label"></label>
                <input asp-for="PlanetsystemName" class="form-control" />
                <span asp-validation-for="PlanetsystemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanetsystemConfirmedPlanets" class="control-label"></label>
                <input asp-for="PlanetsystemConfirmedPlanets" class="form-control" />
                <span asp-validation-for="PlanetsystemConfirmedPlanets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="formFile" class="form-label">Выберите изображение</label>
                <input class="form-control" type="file" name="formFile">
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
