@model Space.Models.Constellations

@{
    ViewData["Title"] = "Добавление созвездия";
}


<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<p class="text-center fs-2">Добавление созвездия</p>
<hr />
<form class="row g-3" method="post" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <label asp-for="ConsName" class="control-label"></label>
        <input asp-for="ConsName" class="form-control" />
        <span asp-validation-for="ConsName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="ConsRightAscension" class="control-label"></label>
        <input asp-for="ConsRightAscension" class="form-control" />
        <span asp-validation-for="ConsRightAscension" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="ConsAbbreviation" class="control-label"></label>
        <input asp-for="ConsAbbreviation" class="form-control" />
        <span asp-validation-for="ConsAbbreviation" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="ConsDeclination" class="control-label"></label>
        <input asp-for="ConsDeclination" class="form-control" />
        <span asp-validation-for="ConsDeclination" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="ConsSymbolism" class="control-label"></label>
        <input asp-for="ConsSymbolism" class="form-control" />
        <span asp-validation-for="ConsSymbolism" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="ConsSquare" class="control-label"></label>
        <input asp-for="ConsSquare" class="form-control" />
        <span asp-validation-for="ConsSquare" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label for="formFile" class="form-label"></label>
        <input class="form-control" type="file" name="formFile">
    </div>
    <div class="col-md-6">
        <label asp-for="ConsVisibleInLatitudes" class="control-label"></label>
        <input asp-for="ConsVisibleInLatitudes" class="form-control" />
        <span asp-validation-for="ConsVisibleInLatitudes" class="text-danger"></span>
    </div>
    <div class="col-12 d-flex justify-content-center gap-2">
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
