@model Space.Models.Constellations

@{
    ViewData["Title"] = "Изменение созвездия";
}

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<p class="text-center fs-2 font-monospace">Изменение созвездия</p>
<hr />

<div class="container clearfix">
    <partial name="_ConsImage" />
    <form class="row g-3 justify-content-start" method="post" asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ConsId" />
        <div class="col-md-6">
            <label asp-for="ConsName" class="control-label"></label>
            <input asp-for="ConsName" class="form-control" />
            <span asp-validation-for="ConsName" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ConsRightAscension" class="control-label"></label>
            <input asp-for="ConsRightAscension" class="form-control" />
            <span asp-validation-for="ConsRightAscension" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ConsAbbreviation" class="control-label"></label>
            <input asp-for="ConsAbbreviation" class="form-control" />
            <span asp-validation-for="ConsAbbreviation" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ConsDeclination" class="control-label"></label>
            <input asp-for="ConsDeclination" class="form-control" />
            <span asp-validation-for="ConsDeclination" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ConsSymbolism" class="control-label"></label>
            <input asp-for="ConsSymbolism" class="form-control" />
            <span asp-validation-for="ConsSymbolism" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="ConsSquare" class="control-label"></label>
            <input asp-for="ConsSquare" class="form-control" />
            <span asp-validation-for="ConsSquare" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label for="formFile" class="form-label"></label>
            <input class="form-control" type="file" name="formFile">
        </div>
        <div class="col-md-6">
            <label asp-for="ConsVisibleInLatitudes" class="control-label"></label>
            <input asp-for="ConsVisibleInLatitudes" class="form-control" />
            <span asp-validation-for="ConsVisibleInLatitudes" class="text-danger"></span>
        </div>
        @if (Model.ConsImage != null)
        {
            <div class="col-md-12">
                <div class="input-group-text">
                    <input asp-for="ConsImage" class="form-check-input mt-0" type="radio" value="" aria-label="Radio button for following text input" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        ㅤУдалить изображение?
                    </label>
                </div>
                <input asp-for="ConsImage" type="text" class="form-control" aria-label="Text input with radio button" hidden>
            </div>
        }
        <div class="col-12 d-flex justify-content-center gap-2">
            <a asp-action="Index" class="btn btn-secondary">Назад</a>
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </form>

</div>
<div class="text-nowrap row justify-content-center">
    ㅤ
</div>
<hr />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
