@model Space.Models.GalaxyGroups

@{
    ViewData["Title"] = "Добавление группы галактик";
}

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<p class="text-center fs-2">Добавление группы галактик</p>
<hr />
<form class="row g-3" method="post" asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <label asp-for="ConsId" class="control-label"></label>
        <select asp-for="ConsId" class="form-control" asp-items="ViewBag.ConsId">
            <option value="">Выберите созвездие</option>
        </select>
    </div>
    <div class="col-md-3">
        <label asp-for="GlxgroupType" class="control-label"></label>
        <input asp-for="GlxgroupType" class="form-control" />
        <span asp-validation-for="GlxgroupType" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="GlxgroupRightAscension" class="control-label"></label>
        <input asp-for="GlxgroupRightAscension" type="time" name="GlxgroupRightAscension" step="2" class="form-control" />
        <span asp-validation-for="GlxgroupRightAscension" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="GlxgroupName" class="control-label"></label>
        <input asp-for="GlxgroupName" class="form-control" />
        <span asp-validation-for="GlxgroupName" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="GlxgroupDeclination" class="control-label"></label>
        <input asp-for="GlxgroupDeclination" class="form-control" />
        <span asp-validation-for="GlxgroupDeclination" class="text-danger"></span>
    </div>
    <div class="col-md-3">
        <label asp-for="GlxgroupRedshift" class="control-label"></label>
        <input asp-for="GlxgroupRedshift" class="form-control" />
        <span asp-validation-for="GlxgroupRedshift" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label for="formFile" class="form-label"></label>
        <input class="form-control" type="file" name="formFile">
    </div>
    <div class="col-12 d-flex justify-content-center gap-2">
        <a asp-action="Index" class="btn btn-secondary">Назад</a>
        <input type="submit" value="Добавить" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
