@model Space.Models.GalaxyGroups

@{
    ViewData["Title"] = "Добавление группы галактик";
}

<h3>Добавление группы галактик</h3>

<style>
    .field-validation-error {
        color: #b94a48;
    }

    input.input-validation-error {
        border: 1px solid #b94a48;
    }

    input.valid {
        border: 1px solid #16a085;
    }

    .validation-summary-errors {
        color: #b94a48;
    }
</style>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ConsId" class="control-label"></label>
                <select asp-for="ConsId" class ="form-control" asp-items="ViewBag.ConsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GlxgroupName" class="control-label"></label>
                <input asp-for="GlxgroupName" class="form-control" />
                <span asp-validation-for="GlxgroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlxgroupType" class="control-label"></label>
                <input asp-for="GlxgroupType" class="form-control" />
                <span asp-validation-for="GlxgroupType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlxgroupRightAscension" class="control-label"></label>
                <input asp-for="GlxgroupRightAscension" class="form-control" />
                <span asp-validation-for="GlxgroupRightAscension" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlxgroupDeclination" class="control-label"></label>
                <input asp-for="GlxgroupDeclination" class="form-control" />
                <span asp-validation-for="GlxgroupDeclination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GlxgroupRedshift" class="control-label"></label>
                <input asp-for="GlxgroupRedshift" class="form-control" />
                <span asp-validation-for="GlxgroupRedshift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
